In [1]:
import pandas as pf
from data_func import *

data_raw = pd.read_excel("MasterData.xlsx")

cleaned_data = prepare_merit(data_raw)

In [2]:
cleaned_data["CSE"] = 0
cleaned_data["CSE(D)"] = 0
cleaned_data["CCE"] = 0
cleaned_data["ECE"] = 0
cleaned_data["ECE(D)"] = 0
cleaned_data["ME"] = 0
cleaned_data["LICAI(AI)"] = 0
cleaned_data["LICAI(DS)"] = 0
# Target allocation Counts
allocation_targets = {
    "CSE": 400,
    "CSE(D)": 100,
    "CCE": 200,
    "ECE": 400,
    "ECE(D)": 100,
    "ME": 500,
    "LICAI(AI)": 100,
    "LICAI(DS)": 100,
}
allocation_save = allocation_targets.copy()
allocation_data = allocate_branches(cleaned_data, allocation_targets)
print("Total applicants =", len(allocation_data))
print(
    "Total allocation = ",
    len(allocation_data[allocation_data["ALLOCATED"].notna()]),
)
print(
    "Total Remaining = ",
    len(allocation_data[allocation_data["ALLOCATED"].isna()]),
    "\n",
)

display(allocation_data)

Total applicants = 2004
Total allocation =  1667
Total Remaining =  337

,USERNO,USERNAME,FULLNAME,GENDER,MOBILE,EMAILID,SSC_PER,HSC_PER,HSC_PCM_PER,JEE_APPLICATION_NO_3,...,PREF8,ALLOCATED,CSE,CSE(D),CCE,ECE,ECE(D),ME,LICAI(AI),LICAI(DS)
0,178853,LNMPZCDM,JASH JAGESH SHAH,M,8401056001,jagesh2k@gmail.com,92.00,94.00,96.00,250310216840,...,LICAI(AI),ECE,0,0,0,0,0,0,0,0
1,184664,LNMUSC3H,PARESH KUMAR,M,9818069102,pareshk4127@gmail.com,97.33,94.60,95.00,250310493683,...,NaN,CSE,0,0,0,0,0,0,0,0
2,185816,LNML8GMA,KRIT SHAH,M,7471176443,krits8288@gmail.com,93.80,95.20,97.67,250310044984,...,NaN,CSE,0,0,0,0,0,0,0,0
3,181310,LNMNRC3E,PRAJEET TALREJA,M,8826332539,jktalreja@gmail.com,91.83,88.60,90.00,250310270903,...,NaN,CSE,0,0,0,0,0,0,0,0
4,183126,LNMTBHNM,PEARL KAILASH JAKASANIYA,F,8460475834,pearljigna@gmail.com,90.67,95.40,95.00,250310184128,...,ME,CSE,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999,176252,LNMKTK4U,KRATIKA KESHARI,F,9575971887,kratikakeshari4@gmail.com,84.50,72.60,77.33,250310585769,...,NaN,None,1510,0,0,0,0,0,0,0
2000,180532,LNMHKAGV,DHWANI TIWARI,F,7999400880,dhwanitiwari62@gmail.com,92.80,79.20,70.33,250310554605,...,ME,LICAI(AI),1511,460,928,697,212,0,0,0
2001,181913,LNMS2A8W,DHRUV CHAUHAN,M,8307436146,dhruvchauhan141105@gmail.com,84.20,71.80,69.33,250310242782,...,LICAI(DS),ME,1512,0,929,698,0,0,0,0
2002,185806,LNMFYDGQ,ARYAN SRIVASTAVA,M,7061551885,aryansri6895@gmail.com,95.20,75.00,62.00,0,...,NaN,None,1513,461,930,699,213,0,0,0
2003,187153,LNMXCERX,AYUSH TRIPATHI,M,7706091595,ayushtripathi0507@gmail.com,90.33,92.17,92.33,250310246937,...,NaN,None,1514,462,0,0,0,0,0,0

In [3]:
save_data(allocation_data, data_raw, allocation_save)  # type: ignore

,BRANCH,OPENING_PERCENTILE,CLOSING_PERCENTILE,Seat Before,Seats
0,CSE,99.282817,96.828958,400.0,400.0
1,CSE(D),98.000778,94.891567,100.0,100.0
2,CCE,97.400359,95.908870,200.0,200.0
3,ECE,99.542068,94.374654,400.0,400.0
4,ECE(D),95.523889,93.004994,100.0,100.0
5,ME,96.463274,85.184330,500.0,344.0
6,LICAI(AI),96.557549,85.184330,100.0,93.0
7,LICAI(DS),94.474241,85.586193,100.0,30.0
Total/Median,NaN,NaN,95.400529,1900.0,1667.0

Data Saved with Final name 'Final.xlsx'